<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <title>Employee Management System</title>
</head>
<body>

<nav>
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">Switch<span style="font-style: italic">On</span></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <!--    -->
    <h5 class="h5-header">Employee List <span><a data-target="modal1" th:href="@{/}" class="btn-floating btn-large modal-trigger waves-effect waves-light"><i class="material-icons">add</i></a></span></h5>
    <table class="highlight">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="employee, iterStat : ${listEmployees}">
            <td th:text="${employee.getFirstName()}"></td>
            <td th:text="${employee.getLastName()}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.gender}"></td>
            <td th:text="${employee.address}"></td>
            <td th:text="${employee.department}"></td>
            <td><span><a th:href="@{/showUpdateForm/{id}(id=${employee.id})}" th:attr="data-target=${'modal1' + iterStat.index}" data-target="modal1" class="waves-effect waves-light btn-small action modal-trigger">Update</a><a class="waves-effect waves-light btn-small">Delete</a></span></td>
        </tr>
        </tbody>
    </table>

</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5>Add New Employee</h5>
        <div class="row form">
            <form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="post" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" th:field = "*{firstName}" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" th:field = "*{lastName}" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="email" type="email" th:field = "*{email}" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="password" type="password" th:field = "*{password}" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select th:field = "*{gender}">
                            <option value="" disabled selected>Gender</option>
                            <option value="Male">M</option>
                            <option value="Female">F</option>
                        </select>
                        <label>Gender</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="address" type="text" th:field = "*{address}" class="validate">
                        <label for="address">Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="department" type="text" th:field = "*{department}" class="validate">
                        <label for="department">Department</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Add
                    <i class="material-icons right"></i>
                </button>

            </form>
        </div>
    </div>
</div>

<!-- Modal Structure for each employee -->
<div class="modal" th:each="employee, stat : ${listEmployees}" th:id="${'modal1' + stat.index}">
    <div class="modal-content">
        <h5>Add New Employee</h5>
        <div class="row form">
            <form action="#" th:action="@{/updateEmployee}" th:object="${employee}" method="post" class="col s12">
                <div class="input-field col s6">
                    <input type="hidden" th:value="${employee.id}" th:field = "*{id}" class="validate">
                    <label >Id</label>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" th:value="${employee.firstName}" th:field = "*{firstName}" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" th:value="${employee.lastName}" th:field = "*{lastName}" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="email" th:value="${employee.email}" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select th:value="${employee.gender}">
                            <option value="" disabled selected>Gender</option>
                            <option value="Male">M</option>
                            <option value="Female">F</option>
                        </select>
                        <label>Gender</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" th:value="${employee.address}" class="validate">
                        <label for="address">Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" th:value="${employee.department}" class="validate">
                        <label for="department">Department</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Update
                    <i class="material-icons right"></i>
                </button>

            </form>
        </div>
    </div>
</div>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>M.AutoInit();</script>
</body>
</html>